# Frontend Base URLs
VITE_BASE_URL_LOCAL=/
VITE_BASE_URL_PRODUCTION=/

# API Endpoints
VITE_API_URL_LOCAL=https://papayawhip-wren-332567.hostingersite.com
VITE_API_URL_PRODUCTION=https://papayawhip-wren-332567.hostingersite.com

# API Helpers
VITE_BASE_URL=
VITE_APP_KEY=
